#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
if [ -d "$UV_PROJECT_ENVIRONMENT" ]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"

# For repo-local tasks
PATH_add "$PWD/.tasks"

# For polyglot glue
export POLYGLOT_ROOT="$PWD"
export POLYGLOT_SRC="jgdv"
export POLYGLOT_SPHINX_CONF_DIR="jgdv/_docs"
export TOWNCRIER_CHANGES_DIR="jgdv/_docs/_changes"

# Pre-commit skipping:
# export SKIP=""
